<!DOCTYPE html>
<html>
  <head>
    <title>HealthCoin</title>
    <base href="/">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css"/> -->
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script src="/javascript/click.js"></script>
  
  </head>
    <!-- /*white bg-black is-in*/ -->
    <header class="cf ph3">
      <h1 class="fl-ns mb0 mt3 pt1"><a href="" class="link red">h<span class="dib-l dib-m dn">lth</span>.chain</a></h1>

      <nav class="fr-ns">
        <a href="/about" class="b link dark-gray hover-red bb bw1 pb1"><i data-feather="eye"></i></a>
        <a href="/visualizer" class="b link dark-gray hover-red ml3 mr4"><i data-feather="help-circle"></i></a>

        <div class="dib">
          <img src="http://tachyons.io/img/logo.jpg" class="br-100 h2 w2 dib" alt="avatar">
          <ul class="dib list pl0">
            <li class="link">My Balance</li>
            <li class="link"><%= balance %> HC</li>
          </ul>
        </div>

      </nav>
    </header>

    <h3>HealthCoin - Mining for <i>Your</i> Health</h3>

        <p>Welcome back, <%= name %>!</p>
        <p>Your wallet key is <%= userID %>.</p>
        <!-- Adding a new job -->
    <div class="pa3 flex items-center bb bt">

        <form method="POST" action="uploadFile" enctype="multipart/form-data" class="">

          <input id="upload" type="file" class="input-file" name="file-upload"></input>

          <label for="file-upload" class="tc b mh3 ph4 pv3 input-reset ba pa4 b--black bg-transparent grow pointer f6 bg-animate hover-bg-black hover-white">
            <span class="pr1">Upload genome file</span>
            <i data-feather="upload" width="16" class="w1 v-mid"></i>
          </label>

        </form>


        <form class="flex justify-between flex-grow-1 justify-around items-center" action="/postnewjob" method="post">
            <div class="">
              <p>Name your sequence:</p>
              <input class="" type="text" name="inputName" placeholder="Bob's job">
            </div>

            <div class="">
              <p>Paste your genome:</p>
              <input class="" type="text" name="inputGenome" placeholder="AC, AA, TC, GC...">
            </div>

            <div class="">
              <p>Payment (in HealthCoins)</p>
              <input class="" type="number" name="inputCost" placeholder="100">
              <span><%= error %></span>
            </div>
            <div class="">

              <button type="submit" class="tc b ph4 pv3 input-reset ba pa4 b--black bg-transparent grow pointer f6 bg-animate hover-bg-black hover-white" name="new-job">Submit for sequencing</button>
            </div>

        </form>
    </div>

    <div class="pa3 tl">
        <h2>Submitted Sequences:</h2>
        <table class="collapse ba tl br2 b--black-10 pv2 ph3 mt4">
          <tbody>
            <tr class="striped--near-white">
              <th scope="col" class="pv2 ph3 ttu tl f6 fw6 tt">Sequence Name</th>
              <th scope="col" class="f6 ttu fw6 pv2 ph3">Date Submitted</th>
              <th scope="col" class="f6 ttu fw6 pv2 ph3">Genome</th>
              <th scope="col" class="f6 ttu fw6 pv2 ph3">Payment (in HealthCoins)</th>
              <th scope="col" class="f6 ttu fw6 pv2 ph3">Status</th>
            </tr> 
            <% for(var i=0; i < items.length; i++) { %>
               <tr class="striped--near-white">
                 <td class="pv2 ph3"><%= items[i].name %></td>
                 <td class="pv2 ph3"><%= items[i].createdAt %></td>
                 <td class="pv2 ph3"><%= items[i].genome %></td>
                 <td class="pv2 ph3"><%= items[i].cost %></td>

                 <% if (items[i].status === 'Incomplete') { %>
                  <td class="pv2 ph3"><%= items[i].status %></td>
                  <!-- <td class="pv2 ph3">Compute this!</td> -->

                <%} else {%>
                  <td class="pv2 ph3 trash"><%= items[i].status %></td>
                <% } %>

               </tr>
            <% } %>
          </tbody>
          </table>
    <div>

    <div>
      <h2>Transactions</h2>
      <form class="" action="/posttransaction" method="post">

      <div class="">
        <p>Recipient's Wallet Key:</p>
        <input class="" type="text" name="inputWallet" placeholder="c329b19-0537-4755-bfdf-9c908e3b0664">
      </div>

      <div class="">
        <p>Amount:</p>
        <input class="" type="text" name="inputAmount" placeholder="100 HC">
      </div>

      <button type="submit" class="tc b ph4 pv3 input-reset ba pa4 b--black bg-transparent grow pointer f6 bg-animate hover-bg-black hover-white" name="new-job">Make transaction</button>
      </form>

      <br>
      <h4>All pending transactions:</h4>
       <table class="collapse ba tl br2 b--black-10 pv2 ph3 mt4">
          <tbody>
            <tr class="striped--near-white">
              <th scope="col" class="pv2 ph3 ttu tl f6 fw6 tt">Block</th>
              <th scope="col" class="f6 ttu fw6 pv2 ph3">Confirmed</th>
              <th scope="col" class="f6 ttu fw6 pv2 ph3">Received Time</th>
              <th scope="col" class="f6 ttu fw6 pv2 ph3">Sender</th>
              <th scope="col" class="f6 ttu fw6 pv2 ph3">Receiver</th>
              <th scope="col" class="f6 ttu fw6 pv2 ph3">Amount</th>
            </tr>

            <% for(var i=0; i < transactions.length; i++) { %>
               <tr class="striped--near-white">
                 <td class="pv2 ph3"><%= transactions[i].block %></td>
                 <td class="pv2 ph3"><%= transactions[i].confirmed %></td>
                 <td class="pv2 ph3"><%= transactions[i].createdAt %></td>
                 <td class="pv2 ph3"><%= transactions[i].sender %></td>
                 <td class="pv2 ph3"><%= transactions[i].receiver %></td>
                 <td class="pv2 ph3"><%= transactions[i].amount %></td>
               </tr>
            <% } %>
          </tbody>
          </table>

          <h2>Current Blockchain:</h2>
          <table class="collapse ba tl br2 b--black-10 pv2 ph3 mt4">
          <tbody>
            <tr class="striped--near-white">
              <th scope="col" class="pv2 ph3 ttu tl f6 fw6 tt">Block ID</th>
              <th scope="col" class="f6 ttu fw6 pv2 ph3">Previous Block</th>
              <th scope="col" class="f6 ttu fw6 pv2 ph3">Date Created</th>
              <th scope="col" class="f6 ttu fw6 pv2 ph3">Transactions</th>
            </tr>

            <% for(var i=0; i < transactions.length; i++) { %>
               <tr class="striped--near-white">
                 <td class="pv2 ph3"><%= transactions[i].block %></td>
                 <td class="pv2 ph3"><%= transactions[i].confirmed %></td>
                 <td class="pv2 ph3"><%= transactions[i].createdAt %></td>
                 <td class="pv2 ph3"><%= transactions[i].sender %></td>
               </tr>
            <% } %>
          </tbody>
          </table>
    </div>

    <script>
      feather.replace()
    </script>
  </body>
</html>
