<!DOCTYPE html>
<html>
  <head>
    <title>HealthCoin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  </head>
  <body class="">
    <!-- /*white bg-black is-in*/ -->
    <header class="cf ph3">
            <h1 class="fr-ns mb0 mt3 pt1"><a href="" class="link red">h<span class="dib-l dib-m dn">lth</span>.chain</a></h1>
            <nav class="fl-ns mt3 pt3">
              <a href="" class="b link dark-gray hover-red bb bw1 pb1"><i data-feather="eye"></i></a>
              <a href="" class="b link dark-gray hover-red ml3"><i data-feather="help-circle"></i></a>
            </nav>
    </header>
    <nav class="navbar navbar-default">



      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">HealthCoin</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/about"><i data-feather="help-circle"></i></a></li>
            <li><a href="/visualizer"></a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">My Account</a></li>
            <li><a href="#">My Balance: <%= balance %> HC</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <h3>HealthCoin - Mining for <i>Your</i> Health</h3>

    <!-- Adding a new job -->
    <div style="padding: 50px">
        <h2>Add a new job:</h2>
        <form action="/postnewjob" method="post">
        <p>Name your job:</p>
        <input class="input-field form-control" type="text" name="inputName" placeholder="Bob's Job">
        <br>
        <p>Insert your genome:</p>
        <input class="input-field form-control" type="text" name="inputGenome" placeholder="AC, AA, TC, GC">
        <br>
        <p>How much are you willing to pay? (in HealthCoins)</p>
        <input class="input-field form-control" type="number" name="inputCost" placeholder="100">
        <br>
        <p><%= error %></p>

            <br>
            <button type="submit" class="btn btn-primary" name="new-job">Submit my job!</button>
        </form>
    </div>

    <div style="padding: 50px">
        <h2>Submitted Sequences:</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">SequenceID</th>
              <th scope="col">Date Submitted</th>
              <th scope="col">Genome</th>
              <th scope="col">Cost (in HealthCoins)</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <% for(var i=0; i < items.length; i++) { %>
             <tr>
               <td><%= items[i].JobID %></td>
               <td><%= items[i].createdAt %></td>
               <td><%= items[i].genome %></td>
               <td><%= items[i].cost %></td>
               <td><%= items[i].status %></td>
             </tr>
          <% } %>
          </table>
    <div>

    <script>
      feather.replace()
    </script>
  </body>
</html>
