<!DOCTYPE html>
<html>
  <head>
    <title>HealthCoin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css"/>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.1/css/tachyons.min.css"/>
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  </head>
    <!-- /*white bg-black is-in*/ -->
    <header class="cf ph3">
            <h1 class="fl-ns mb0 mt3 pt1"><a href="" class="link red">h<span class="dib-l dib-m dn">lth</span>.chain</a></h1>

            <nav class="fr-ns">

              <a href="/about" class="b link dark-gray hover-red bb bw1 pb1"><i data-feather="eye"></i></a>
              <a href="/visualizer" class="b link dark-gray hover-red ml3 mr4"><i data-feather="help-circle"></i></a>

              <div class="dib">
                <img src="http://tachyons.io/img/logo.jpg" class="br-100 h2 w2 dib" alt="avatar">
                <ul class="dib list pl0">
                  <li class="link">My Balance</li>
                  <li class="link"><%= balance %> HC</li>
                </ul>
              </div>

            </nav>
    </header>

    <h3>HealthCoin - Mining for <i>Your</i> Health</h3>

        <p>Welcome back, <%= name %>!</p>
        <p>Your wallet key is <%= userID %>.</p>
        <!-- Adding a new job -->
        <div style="padding: 50px">
            <h2>Add a new job:</h2>
            <form action="/postnewjob" method="post">
            <p>Name your job:</p>
            <input class="input-field form-control" type="text" name="inputName" placeholder="Bob's Job">
            <br>
            <p>Insert your genome:</p>
            <input class="input-field form-control" type="text" name="inputGenome" placeholder="AC, AA, TC, GC">
            <br>
            <p>How much are you willing to pay? (in HealthCoins)</p>
            <input class="input-field form-control" type="number" name="inputCost" placeholder="100">
            <br>
            <p><%= error %></p>

            <br>
            <button type="submit" class="btn btn-primary" name="new-job">Submit my job!</button>
        </form>
    </div>

    <div style="padding: 50px">
        <h2>Your Submitted Sequences:</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">SequenceID</th>
              <th scope="col">Date Submitted</th>
              <th scope="col">Genome</th>
              <th scope="col">Cost (in HealthCoins)</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <% for(var i=0; i < items.length; i++) { %>
             <tr>
               <td><%= items[i].JobID %></td>
               <td><%= items[i].createdAt %></td>
               <td><%= items[i].genome %></td>
               <td><%= items[i].cost %></td>
               <td><%= items[i].status %></td>
             </tr>
          <% } %>
          </table>
    <div>

    <script>
      feather.replace()
    </script>
  </body>
</html>
